/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.tagline {
  color: black;
  font-size: 72px;
  line-height: 1.25;
  font-weight: 900;
  letter-spacing: -1.5px;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.tagline-inner {
  background: linear-gradient(315deg, #42d392 25%, #647eff);
  padding: 0 20px 8px;
}

.first-letter {
  color: #1677ff;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
