/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/**
  vue官网 字体颜色 #213547
          footer 背景 #F9F9F9
          footer 字体 rgba(60, 60, 60, 0.7)
*/
:root {
  --ifm-color-primary: #1677ff;
  --ifm-color-primary-dark: #3c89e8;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-font-color-base: #213547;
  --ifm-footer-background-color: #f0f3fa; /* antd */
  --ifm-footer-background-color: #f9f9f9; /*vue */
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
/**
vue官网 字体颜色 rgba(255, 255, 255, 0.87)
       背景颜色 #1a1a1a
       footer背景 #242424
*/
[data-theme='dark'] {
  --ifm-color-primary: #1677ff;
  --ifm-color-primary-dark: #3c89e8;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-button-color: #fff;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-font-color-base: rgba(255, 255, 255, 0.87);
  --ifm-background-color: #1a1a1a;
  --ifm-navbar-background-color: #1a1a1a;
  --ifm-footer-background-color: #242424;
}

.hero {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.45' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.footer__col {
  text-align: center;
}

.footer__copyright {
  font-style: italic;
  font-size: small;
}

.footer--dark {
  --ifm-footer-background-color: unset;
  --ifm-footer-title-color: #213547;
  --ifm-footer-link-color: rgba(60, 60, 60, 0.7); /*vue*/
  --ifm-footer-link-color: rgba(0, 0, 0, 0.7); /*antd*/
}

[data-theme='dark'] .footer--dark {
  --ifm-footer-background-color: unset;
  --ifm-footer-title-color: rgba(255, 255, 255, 0.87);
  --ifm-footer-link-color: rgba(235, 235, 235, 0.6); /*vue*/
}

[data-theme='light'] .theme-code-block {
  background-color: #f5f5f5;
  box-shadow: none;
}

[data-theme='light'] .theme-code-block pre.prism-code {
  background-color: unset !important;
}

/* 调整表格样式 */
.markdown th,
.markdown td {
  padding-block-start: 10px;
  padding-block-end: 10px;
  padding-inline-start: 16px;
  padding-inline-end: 16px;
  border-color: #e4e9ec;
}

.markdown th {
  background-color: #fbfcfd;
}

.markdown table {
  border-collapse: collapse;
}

.markdown table thead tr {
  border-bottom: none;
}

/* 调整 antd table 的样式 */
.ant-table table {
  margin-bottom: 0;
}

.ant-table table th,
.ant-table table td {
  border: none;
}

.ant-table table tr {
  border-top: none;
}

.ant-table table tr:nth-child(2n) {
  background-color: unset;
}

.markdown code:not(pre code) {
  color: rgb(213, 97, 97);
  padding: 2px 5px;
  background: rgb(240, 244, 248);
  border-radius: 2px;
  border: none;
}
