[data-dumi-tooltip] {
  position: relative;
}
[data-dumi-tooltip]::before,
[data-dumi-tooltip]::after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  opacity: 0.7;
  pointer-events: none;
  transition: all 0.2s;
}
[data-dumi-tooltip]::before {
  content: attr(data-dumi-tooltip);
  min-width: 30px;
  margin-bottom: 8px;
  padding: 5px 8px;
  color: #fff;
  font-size: 13px;
  line-height: 1.1;
  white-space: nowrap;
  background-color: #000;
  border-radius: 2px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
[data-prefers-color="dark"] [data-dumi-tooltip]::before {
  background-color: #222;
}
[data-dumi-tooltip]::after {
  content: '';
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: #000;
}
[data-prefers-color="dark"] [data-dumi-tooltip]::after {
  border-top-color: #222;
}
[data-dumi-tooltip]:not(:hover)::before,
[data-dumi-tooltip]:not(:hover)::after {
  visibility: hidden;
  opacity: 0;
}
[data-dumi-tooltip][data-dumi-tooltip-bottom]::before,
[data-dumi-tooltip][data-dumi-tooltip-bottom]::after {
  bottom: auto;
  top: 100%;
}
[data-dumi-tooltip][data-dumi-tooltip-bottom]::before {
  margin-top: 8px;
  margin-bottom: 0;
}
[data-dumi-tooltip][data-dumi-tooltip-bottom]::after {
  border-top-color: transparent;
  border-bottom-color: #000;
}
[data-prefers-color="dark"] [data-dumi-tooltip][data-dumi-tooltip-bottom]::after {
  border-bottom-color: #222;
}
.dumi-default-previewer {
  margin: 24px 0 32px;
  border: 1px solid #e4e9ec;
  border-radius: 4px;
  background-color: inherit;
}
[data-prefers-color="dark"] .dumi-default-previewer {
  border-color: #2a353c;
}
[data-dumi-demo-grid] .dumi-default-previewer {
  margin: 0 0 16px;
}
[data-dumi-demo-grid] .dumi-default-previewer:first-child {
  margin-top: 24px;
}
[data-dumi-demo-grid] .dumi-default-previewer:last-child {
  margin-bottom: 32px;
}
.dumi-default-previewer-demo {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 40px 24px;
}
.dumi-default-previewer-demo > iframe {
  display: block;
  width: 100%;
  height: 300px;
  border: 0;
}
.dumi-default-previewer-demo[data-iframe] {
  position: relative;
  padding: 0;
  border-top: 24px solid #e4e9ec;
  box-sizing: border-box;
}
[data-prefers-color="dark"] .dumi-default-previewer-demo[data-iframe] {
  border-top-color: #2a353c;
}
.dumi-default-previewer-demo[data-iframe]::after {
  content: '';
  position: absolute;
  top: -19px;
  left: 8px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fd6458;
  box-shadow: 20px 0 0 #ffbf2b, 40px 0 0 #24cc3d;
}
.dumi-default-previewer-demo[data-transform] {
  transform: translate(0, 0);
}
.dumi-default-previewer-demo[data-compact] {
  padding: 0;
}
.dumi-default-previewer-demo[data-error][data-compact] {
  min-height: 30px;
}
.dumi-default-previewer-demo[data-error][data-compact] + .dumi-default-previewer-demo-error {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.dumi-default-previewer-demo[data-loading] {
  position: relative;
}
.dumi-default-previewer-demo[data-loading]::before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  display: block;
  height: 28px;
  max-height: 90%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2.8px solid;
  border-color: #1677ff transparent;
  box-sizing: border-box;
  animation: dumi-previewer-loading 1s infinite;
  transform: translate(-50%, -50%);
}
[data-prefers-color="dark"] .dumi-default-previewer-demo[data-loading]::before {
  border-color: #0053c8 transparent;
}
@keyframes dumi-previewer-loading {
  to {
    transform: translate(-50%, -50%) rotate(0.5turn);
  }
}
.dumi-default-previewer-demo[data-loading] > * {
  opacity: 0.3 !important;
}
.dumi-default-previewer-demo-error {
  position: relative;
  margin-top: -30px;
  height: 30px;
  padding: 0 24px;
  line-height: 30px;
  color: #b23642;
  font-size: 13px;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: #fdf4f5;
  box-sizing: border-box;
  overflow: hidden;
}
[data-prefers-color="dark"] .dumi-default-previewer-demo-error {
  color: #c6414e;
  background: #2a060a;
}
[data-prefers-color="dark"] .dumi-default-previewer-demo-error > svg {
  fill: #c6414e;
}
.dumi-default-previewer-demo-error > svg {
  width: 14px;
  padding-right: 4px;
  fill: #ce1f31;
  vertical-align: -0.14em;
}
.dumi-default-previewer-meta {
  border-top: 1px solid #e4e9ec;
}
[data-prefers-color="dark"] .dumi-default-previewer-meta {
  border-top-color: #2a353c;
}
.dumi-default-previewer-desc {
  position: relative;
}
.dumi-default-previewer-desc > .markdown {
  padding: 14px 24px;
  border-bottom: 1px dashed #e4e9ec;
}
[data-prefers-color="dark"] .dumi-default-previewer-desc > .markdown {
  border-bottom-color: #2a353c;
}
.dumi-default-previewer-desc > h5 {
  position: absolute;
  top: -7px;
  left: 20px;
  margin: 0;
  padding: 0 4px;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  font-weight: bold;
  background: linear-gradient(to top, #ffffff, #ffffff 50%, rgba(255, 255, 255, 0)) 100%;
}
[data-prefers-color="dark"] .dumi-default-previewer-desc > h5 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95) 50%, rgba(0, 0, 0, 0)) 100%;
}
.dumi-default-previewer-desc > h5 > a {
  color: #30363f;
}
[data-prefers-color="dark"] .dumi-default-previewer-desc > h5 > a {
  color: #c6c9cd;
}
.dumi-default-previewer-desc > h5 > a:not(:hover) {
  text-decoration: none;
}
.dumi-default-previewer-desc > h5 > a > strong {
  float: inline-start;
  padding-inline-end: 8px;
  color: #d59200;
  font-size: 12px;
  line-height: 15px;
}
[data-prefers-color="dark"] .dumi-default-previewer-desc > h5 > a > strong {
  color: #895e00;
}
.dumi-default-previewer[data-active] {
  box-shadow: 0 0 0 4px rgba(22, 119, 255, 0.1);
  border-color: #7cb3ff;
}
[data-prefers-color="dark"] .dumi-default-previewer[data-active] {
  box-shadow: 0 0 0 4px rgba(0, 83, 200, 0.1);
  border-color: #002962;
}
.dumi-default-previewer[data-debug] {
  border-color: #ffc23c;
}
[data-prefers-color="dark"] .dumi-default-previewer[data-debug] {
  border-color: #231800;
}
.dumi-default-previewer[data-debug][data-active] {
  box-shadow: 0 0 0 4px rgba(213, 146, 0, 0.1);
}
[data-prefers-color="dark"] .dumi-default-previewer[data-debug][data-active] {
  box-shadow: 0 0 0 4px rgba(137, 94, 0, 0.1);
}
.dumi-default-previewer-actions {
  display: flex;
  height: 32px;
  align-items: center;
  justify-content: center;
}
.dumi-default-previewer-actions:not(:last-child) {
  border-bottom: 1px dashed #e4e9ec;
}
[data-prefers-color="dark"] .dumi-default-previewer-actions:not(:last-child) {
  border-bottom-color: #2a353c;
}
.dumi-default-previewer-action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}
.dumi-default-previewer-action-btn > svg {
  width: 16px;
  fill: #98a3aa;
  transition: fill 0.2s;
}
[data-prefers-color="dark"] .dumi-default-previewer-action-btn > svg {
  fill: #4a545a;
}
.dumi-default-previewer-action-btn:hover > svg {
  fill: #7c8a93;
}
[data-prefers-color="dark"] .dumi-default-previewer-action-btn:hover > svg {
  fill: #616e75;
}
.dumi-default-previewer-action-btn:not(:last-child) {
  margin-inline-end: 4px;
}
.dumi-default-previewer-action-sketch > select {
  position: absolute;
  appearance: none;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.dumi-default-previewer-action-sketch[data-copied] > svg {
  fill: #208a41;
}
.dumi-default-previewer-tabs-single .dumi-default-tabs-nav {
  display: none;
}
.dumi-default-previewer-editor-tip-btn {
  position: absolute;
  appearance: none;
  z-index: 2;
  right: 42px;
  top: 9px;
  padding: 8px 12px;
  cursor: help;
  background: transparent;
  border: 0;
  transition: all 0.2s;
}
.dumi-default-previewer-editor-tip-btn > svg {
  width: 16px;
  fill: #98a3aa;
}
[data-prefers-color="dark"] .dumi-default-previewer-editor-tip-btn > svg {
  fill: #4a545a;
}
.dumi-default-previewer-editor-tip-btn[data-readonly] > span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 16px;
  height: 2px;
  background: #98a3aa;
  transform: rotate(45deg) translate(-50%, 120%);
}
.dumi-default-tabs-tabpane:not(:hover) .dumi-default-previewer-editor-tip-btn {
  opacity: 0;
  visibility: hidden;
}
.dumi-theme-default-tooltip {
  position: fixed;
  min-width: 30px;
  margin-bottom: 8px;
  box-sizing: border-box;
}
.dumi-theme-default-tooltip-hidden {
  display: none;
}
.dumi-theme-default-tooltip-arrow {
  border: 4px solid transparent;
  opacity: 0.7;
}
.dumi-theme-default-tooltip-placement-top .dumi-theme-default-tooltip-arrow {
  border-top-color: #000;
  transform: translate(-50%, 100%);
}
.dumi-theme-default-tooltip-bottom .dumi-theme-default-tooltip-arrow {
  border-bottom-color: #000;
  transform: translateY(-50%, -100%);
}
.dumi-theme-default-tooltip-content {
  padding: 5px 8px;
  color: #fff;
  font-size: 13px;
  line-height: 1.1;
  white-space: nowrap;
  background-color: #000;
  opacity: 0.7;
  border-radius: 2px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
[data-prefers-color="dark"] .dumi-theme-default-tooltip-content {
  background-color: #222;
}
[data-prefers-color="dark"] .token.doctype,
[data-prefers-color="dark"] .token.punctuation,
[data-prefers-color="dark"] .token.entity,
[data-prefers-color="dark"] code[class*='language-'],
[data-prefers-color="dark"] pre[class*='language-'] {
  color: #8590a0;
}
[data-prefers-color="dark"] .token.comment,
[data-prefers-color="dark"] .token.prolog,
[data-prefers-color="dark"] .token.cdata {
  color: #616d7f;
}
.dumi-default-source-code {
  position: relative;
  background-color: #fbfcfd;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.dumi-default-source-code-scroll-container {
  overflow: auto;
  width: 100%;
  height: 100%;
}
.dumi-default-source-code-scroll-content {
  position: relative;
  width: max-content;
  height: max-content;
  min-width: 100%;
  min-height: 100%;
}
.dumi-default-source-code-scroll-content > pre.prism-code {
  width: max-content;
  position: relative;
  overflow: visible;
}
.dumi-default-source-code > pre.prism-code {
  overflow: auto;
}
.dumi-default-source-code > pre.prism-code,
.dumi-default-source-code-scroll-content > pre.prism-code {
  margin: 0;
  padding: 18px 24px;
  font-size: 14px;
  line-height: 1.58;
  direction: ltr;
  background: transparent;
}
.dumi-default-source-code > pre.prism-code::before,
.dumi-default-source-code-scroll-content > pre.prism-code::before,
.dumi-default-source-code > pre.prism-code::after,
.dumi-default-source-code-scroll-content > pre.prism-code::after {
  content: none;
}
.dumi-default-source-code > pre.prism-code > .highlighted,
.dumi-default-source-code-scroll-content > pre.prism-code > .highlighted {
  position: relative;
  width: calc(100% + 24px);
  background-color: #eeeff0;
}
.dumi-default-source-code > pre.prism-code > .highlighted .line-cell,
.dumi-default-source-code-scroll-content > pre.prism-code > .highlighted .line-cell {
  position: relative;
}
.dumi-default-source-code > pre.prism-code > .highlighted .line-cell::after,
.dumi-default-source-code-scroll-content > pre.prism-code > .highlighted .line-cell::after {
  content: '';
  position: absolute;
  top: 0;
  right: -24px;
  bottom: 0;
  width: 24px;
  background-color: #eeeff0;
}
.dumi-default-source-code > pre.prism-code > .highlighted::after,
.dumi-default-source-code-scroll-content > pre.prism-code > .highlighted::after {
  content: '';
  position: absolute;
  top: 0;
  left: -24px;
  bottom: 0;
  width: 24px;
  background-color: #eeeff0;
}
.dumi-default-source-code > pre.prism-code > .wrap,
.dumi-default-source-code-scroll-content > pre.prism-code > .wrap {
  display: table-row;
}
.dumi-default-source-code > pre.prism-code > .wrap > .token-line-num,
.dumi-default-source-code-scroll-content > pre.prism-code > .wrap > .token-line-num {
  display: table-cell;
  text-align: right;
  padding-right: 1em;
  user-select: none;
  opacity: 0.5;
}
.dumi-default-source-code > pre.prism-code > .wrap > .line-cell,
.dumi-default-source-code-scroll-content > pre.prism-code > .wrap > .line-cell {
  display: table-cell;
  width: 100%;
}
.dumi-default-source-code-copy {
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 12px;
  display: inline-block;
  padding: 8px 12px;
  background-color: rgba(251, 252, 253, 0.8);
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s;
}
.dumi-default-source-code-copy > svg {
  width: 16px;
  fill: #98a3aa;
  transition: fill 0.2s;
}
[data-prefers-color="dark"] .dumi-default-source-code-copy > svg {
  fill: #4a545a;
}
.dumi-default-source-code-copy:hover > svg {
  fill: #7c8a93;
}
[data-prefers-color="dark"] .dumi-default-source-code-copy:hover > svg {
  fill: #616e75;
}
.dumi-default-source-code-copy[data-copied] > svg {
  fill: #208a41;
}
[data-prefers-color="dark"] .dumi-default-source-code-copy[data-copied] > svg {
  fill: #124c24;
}
.dumi-default-source-code:not(:hover) .dumi-default-source-code-copy {
  opacity: 0;
  visibility: hidden;
}
[data-prefers-color="dark"] .dumi-default-source-code {
  background-color: #020305;
}
[data-prefers-color="dark"] .dumi-default-source-code-copy {
  background-color: rgba(2, 3, 5, 0.2);
}
[data-prefers-color="dark"] .dumi-default-source-code > pre.prism-code > .highlighted {
  background-color: #1c1d1e;
}
[data-prefers-color="dark"] .dumi-default-source-code > pre.prism-code > .highlighted::after {
  background-color: #1c1d1e;
}
[data-prefers-color="dark"] .dumi-default-source-code > pre.prism-code > .highlighted .line-cell::after {
  background-color: #1c1d1e;
}
.dumi-default-tabs-nav {
  position: relative;
  display: flex;
  padding: 0 12px;
}
.dumi-default-tabs-nav::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  border-bottom: 1px dashed #e4e9ec;
}
[data-prefers-color="dark"] .dumi-default-tabs-nav::after {
  border-bottom-color: #2a353c;
}
.dumi-default-tabs-nav-wrap {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}
.dumi-default-tabs-nav-wrap.dumi-default-tabs-nav-wrap-ping-left {
  box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.1) inset;
}
.dumi-default-tabs-nav-wrap.dumi-default-tabs-nav-wrap-ping-right ~ * > .dumi-default-tabs-nav-more {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.dumi-default-tabs-nav-list {
  position: relative;
  z-index: 1;
  display: flex;
  transition: transform 0.2s;
}
.dumi-default-tabs-nav-more {
  height: 100%;
  cursor: pointer;
  background: none;
  border: 0;
  transition: box-shadow 0.2s;
}
.dumi-default-tabs-tab {
  display: flex;
  margin: 0 12px;
}
.dumi-default-tabs-tab-btn {
  padding: 0;
  color: #4f5866;
  font-size: 14px;
  line-height: 36px;
  border: 0;
  outline: none;
  background: transparent;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.2s;
}
[data-prefers-color="dark"] .dumi-default-tabs-tab-btn {
  color: #8590a0;
}
.dumi-default-tabs-tab-btn:hover {
  color: #30363f;
}
[data-prefers-color="dark"] .dumi-default-tabs-tab-btn:hover {
  color: #c6c9cd;
}
.dumi-default-tabs-tab-active .dumi-default-tabs-tab-btn {
  color: #30363f;
}
[data-prefers-color="dark"] .dumi-default-tabs-tab-active .dumi-default-tabs-tab-btn {
  color: #c6c9cd;
}
.dumi-default-tabs-ink-bar {
  position: absolute;
  height: 1px;
  background: #1677ff;
  transition: left 0.2s, width 0.2s;
  pointer-events: none;
  bottom: 0;
}
[data-prefers-color="dark"] .dumi-default-tabs-ink-bar {
  background: #0053c8;
}
.dumi-default-tabs-dropdown {
  position: absolute;
  background: inherit;
  border: 1px solid #d0d5d8;
  max-height: 200px;
  overflow: auto;
}
[data-prefers-color="dark"] .dumi-default-tabs-dropdown {
  border-color: #1c2022;
}
.dumi-default-tabs-dropdown > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dumi-default-tabs-dropdown > ul > li {
  padding: 4px 12px;
  font-size: 14px;
  cursor: pointer;
}
.dumi-default-tabs-dropdown > ul > li:hover {
  color: #1677ff;
}
[data-prefers-color="dark"] .dumi-default-tabs-dropdown > ul > li:hover {
  color: #0053c8;
}
.dumi-default-tabs-dropdown > ul > li:not(:last-child) {
  border-bottom: 1px dashed #d0d5d8;
}
[data-prefers-color="dark"] .dumi-default-tabs-dropdown > ul > li:not(:last-child) {
  border-bottom-color: #1c2022;
}
.dumi-default-tabs-dropdown-hidden {
  display: none;
}
.dumi-default-tabs-tabpane-hidden {
  display: none;
}
.dumi-default-table {
  margin: 24px 0 32px;
  transform: translate(0, 0);
}
.dumi-default-table-content {
  overflow: auto;
}
.dumi-default-table-content::before,
.dumi-default-table-content::after {
  content: '';
  display: block;
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 6px;
  pointer-events: none;
}
.dumi-default-table-content[data-left-folded]::before {
  left: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}
[data-prefers-color="dark"] .dumi-default-table-content[data-left-folded]::before {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.dumi-default-table-content[data-right-folded]::after {
  right: 0;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}
[data-prefers-color="dark"] .dumi-default-table-content[data-right-folded]::after {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.dumi-default-table-content > table > thead > tr > th,
.dumi-default-table-content > table > tr > th {
  white-space: nowrap;
}
.dumi-default-table-content td {
  font-size: 14px;
}
.dumi-default-table-content td:first-child {
  min-width: 58px;
  font-size: 14px;
  white-space: nowrap;
  font-weight: 500;
}
.dumi-default-table-content td:nth-child(2) {
  font-size: 14px;
}
.dumi-default-table-content td:last-child {
  min-width: 95px;
}
.dumi-default-table-content td code {
  font-size: 14px;
}
