.searchFormStyleFix .ant-form-item-control {
  /*
   * bugfix: 样式修复: 当form-item中是一个选择框, 并且选择框中回填的内容很长的时候,
   * 选择框会下移破坏样式.
   * 原因是ant-form-item-control是flex: auto的. 它下面的子项用width: 100%拿到的是整个form-item的宽度
  */

  overflow: hidden;
}

.myTableSmallOptionCol .ant-table-cell-content .ant-space {
  gap: 6px !important;
}

.rak-protable-no-padding .ant-pro-card-body {
  padding-inline: unset;
}
